* {
  box-sizing: border-box;
}

.RollDice > button {
  padding: 0.4rem 2rem;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  display: block;
  margin: auto;
}

.RollDice > button:hover,
.RollDice > button:active {
  background-color: slateblue;
  color: aliceblue;
  outline: none;
}

.RollDice > button:focus {
  outline: none;
}
